{% extends '../authorization_base.html' %}

{% block content %}

<h1>Login page</h1>

<p>{{ user }}</p>

<form action="{% url 'authorization:login' %}" method="post">

    {% csrf_token %}

    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input type="text" name="username" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>

</form>

{% endblock %}