<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" src="{% static "pizzapanucci/style.css" %}">
    <title>{% block title %}Pizza panucci{% endblock %}</title>

    <script>

    let cart = {0: {'total_price': 0}};
    let totalView = undefined;

    function plateClick(plate){

        let dbId = +plate.attributes[1].value;

        let price = +plate.attributes[4].value;
        let name = plate.attributes[5].value;

        cart[dbId] = {};

        cart[dbId].name = name;
        cart[dbId].price = price;
        cart[dbId].additions = [];

        cart[0].total_price += price;

        localStorage.setItem('cart', JSON.stringify(cart));
        updateTotal();
    }

    function additionClick(addition, plateId){

        plateId = +plateId;

        for(let plate in cart){

            plate = +plate;

            if(plate === plateId){

                let name = addition.attributes[5].value;
                let dbId = +addition.attributes[1].value;
                let price = +addition.attributes[4].value;

                cart[plate].additions.push({id: dbId, price: price, name: name});
                cart[0]['total_price'] += price;

                localStorage.setItem('cart', JSON.stringify(cart));
                updateTotal();
                return;
            }
        }

    }

    function initCart(){

        let localStorageCart = localStorage.getItem('cart');

        if(typeof localStorageCart === 'string' && localStorageCart !== 'null'
            && localStorageCart.length > 0 && JSON.stringify(cart).length <= 23){

            cart = JSON.parse(localStorageCart);
        }
    }

    function updateTotal(){

        if(typeof totalView !== 'undefined'){
            totalView.innerHTML = cart[0].total_price.toFixed(2);
        }
    }

    document.addEventListener('DOMContentLoaded', function(){

        totalView = document.getElementById('total-view');

        initCart();
        updateTotal();
    });

    {% block custom_script %}
    {% endblock %}
    </script>

    <style>

    {% block custom_style %}
    {% endblock %}
    </style>

</head>

<body>
    <div id="sidebar">
        {% block sidebar %}

        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}&nbsp;&nbsp;<a href="/authorization/logout">Sign Out</a></p>

            <p>
                <a href="/store/cart/">Shopping cart</a>
                &nbsp;
                <span id="total-view"></span>
            </p>
        {% else %}
            <ul>
                <li><a href="/authorization/login">Sign In</a></li>
                <li><a href="/authorization/registration">Sign Up</a></li>
            </ul>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>