{% extends '../store_base.html' %}

{% block custom_script %}
{% endblock %}

{% block custom_style %}

.menu-item{

cursor: pointer;
border-bottom: 1px dotted blue;
color: blue;
}

{% endblock %}


{% block content %}

<table>
    <tr>
        <th>
            Item
        </th>
        <th>
            Small
        </th>
        <th>
            Big
        </th>
    </tr>
    {% for k, v in menu.items %}
    <tr>
        <td colspan="3">
            <b>{{ v.name }}</b>
        </td>
    </tr>


    {% for plate in v.plates %}
    <tr>
        <td>
            {{ plate.name }}
        </td>
        <td>
            {% if plate.itself.small_price > 0%}
            <span class="menu-item" data-id="{{ plate.id }}" data-food-type="plate"
                  onclick="plateClick(this)"
                  data-price="{{ plate.itself.small_price }}" data-name="{{ plate.name }}">{{ plate.itself.small_price }}$</span>
            {% endif %}
        </td>
        <td>
            {% if plate.itself.big_price > 0 %}
            <span class="menu-item" data-id="{{ plate.id }}" data-food-type="plate"
                  onclick="plateClick(this)"
                  data-price="{{ plate.itself.big_price }}" data-name="{{ plate.name }}">{{ plate.itself.big_price }}$</span>
            {% endif %}
        </td>

    </tr>

    {% for addition in plate.additions %}
    <tr>
        {% if forloop.first %}

        {% endif %}
        <td>

            +&nbsp;&nbsp;{{ addition.name }}
        </td>
        <td>
            <span class="menu-item" data-id="{{ addition.id }}" data-food-type="addition"
                  onclick="additionClick(this, {{ plate.id }})"
                  data-price="{{ addition.small_price }}" data-name="{{ addition.name }}">{{ addition.small_price }}$</span>
        </td>
        <td>
            <span class="menu-item" data-id="{{ addition.id }}" data-food-type="addition"
                  onclick="additionClick(this, {{ plate.id }})"
                  data-price="{{ addition.big_price }}" data-name="{{ addition.name }}">{{ addition.big_price }}$</span>
        </td>

        {% if forloop.last %}

        {% endif %}
    </tr>
    {% endfor %}

    {% endfor %}

    {% endfor %}
</table>

{% endblock %}
